@charset "utf-8";

*{margin:0; padding:0; list-style:none; text-decoration:none;}
body{background:#fff; color:#333; font:normal 12px/24px Helvetica, Tahoma, Arial, sans-serif; text-decoration:none; text-align:center;}
input, checkbox, select, img{vertical-align:middle;}
label{vertical-align:middle; font-family:Tahoma;}
img{border:none;}
a{color:#07519a; cursor:pointer;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:none;}
img{border:none;}
input, select, label{vertical-align:middle;}
label{_font-family:Tahoma;}
em,label{
  font-weight:normal;
  font-style:normal;
}
.none{display:none !important;}
.tr{text-align:right !important;}
.tc{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.pr{position:relative;}

/* color style */
.red{color:#ca0000;}
.gray_1{color:#999 !important;}
.gray_1 a{}

#wrap{display:block; *display:inline-block; width:960px; margin:0 auto; text-align:left;}
#wrap:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

/* nav channel */
#nav{height:32px; overflow:hidden; margin:0 0 10px 0; background:url(../images/sprites_1.gif) no-repeat 0 0;}
#nav .logo{display:inline-block; float:left; width:142px; height:21px; margin:0 41px 0 0; background:url(../images/sprites_1.gif) no-repeat 0 -50px;}

#nav .nav_list{float:left; height:29px; padding:3px 0 2px 0; color:#333; font-size:14px; font-weight:bold;}
#nav .nav_list a{display:inline-block; height:22px; margin:0 -2px; padding:0 0 0 22px; background:url(../images/sprites_2.gif) no-repeat left -36px; color:#fff; vertical-align:middle; line-height:22px; *line-height:24px; cursor:pointer;}
#nav .nav_list a span{display:inline-block; height:22px; padding:0 20px 0 0;}
#nav .nav_list a.home{width:19px; height:17px; overflow:hidden; margin:0 1em 0 0; padding:0; background:url(../images/sprites_1.gif) no-repeat -579px -52px; line-height:1000px;}
#nav .nav_list a.home:hover{background:url(../images/sprites_1.gif) no-repeat -579px -52px;}
#nav .nav_list a.last{background:none;}
#nav .nav_list a:hover{position:relative; z-index:50; background:url(../images/sprites_2.gif) no-repeat 0 0; color:#ca0000; text-decoration:none;}
#nav .nav_list a:hover span{background:url(../images/sprites_2.gif) no-repeat right 0;}
#nav .nav_list a.select{position:relative; z-index:50; background:url(../images/sprites_2.gif) no-repeat 0 0; color:#ca0000; text-decoration:none;}
#nav .nav_list a.select span{background:url(../images/sprites_2.gif) no-repeat right 0;}

#nav .rss{text-indent: -2000px;float:right; margin:0 10px 0 0; *margin:2px 10px 0 0; padding:0 0 0 34px; background:url(../images/ico_rss.gif) no-repeat left center; _background:url(../images/ico_rss.gif) no-repeat left 6px; color:#fff; font:normal 12px/29px Helvetica, Tahoma, Arial, sans-serif;}

#nav .nav_sear{display:inline-block; float:right; width:165px; height:15px; *height:19px; overflow:hidden; margin:6px 6px 0 0; _margin:6px 3px 0 0; padding:2px 0 2px 20px; *padding:0 0 0 20px; background:url(../images/sprites_1.gif) no-repeat -294px -51px;}
#nav .nav_sear input{width:155px; height:15px; *height:13px; _height:14px; border:none; *border:solid 1px #fff; line-height:15px; *line-height:13px; _line-height:14px;}

.way_nav{font:normal 12px/24px Tahoma;width:960px; margin:0 auto; text-align:left;}
.way_nav a{color:#333;}
.way_nav em{margin:0 5px; color:#999; font-style:normal; text-decoration:none; font-family:"宋体";}

/* tab style */
.tab_1{display:block; *display:inline-block; position:relative; margin:0 0 20px 0; padding:18px 15px 0 15px; border-bottom:1px solid #ddd; background:url(../images/tab_1_bg.gif) repeat-x top;}
.tab_1:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.tab_1 ul{display:block; *display:inline-block;}
	.tab_1 ul:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.tab_1 li{display:inline-block; float:left; _width:7em; height:25px; overflow:hidden; margin:3px 2px 0 0; padding:0 0 0 15px; background:url(../images/tab_1.gif) no-repeat left -39px; color:#fff; font:bold 12px/25px Helvetica, Tahoma, Arial, sans-serif; text-align:center; cursor:pointer;}
	.tab_1 li.system{_width:9em;}
	.tab_1 li a{display:block; height:25px; padding:0 15px 0 0; background:url(../images/tab_1.gif) no-repeat right -39px; color:#fff; text-decoration:none;}
	.tab_1 li.select{position:relative; height:29px; margin:0 2px -1px 0; background-position:left 0; line-height:29px;}
	.tab_1 li.select a{height:29px; background-position:right 0; color:#07519a;}
	.tab_1 h3{margin:-10px 0 8px 0; padding:0 0 0 4px; font:bold 14px/26px Helvetica, Tahoma, Arial, sans-serif;}
	.tab_1 h3 .num{margin:0 0 0 1em; font:normal 12px/26px Helvetica, Tahoma, Arial, sans-serif;}
	.tab_1 h3 .num dfn{color:#ca0000; font-style:normal;}
	.tab_1 h3 .red{margin:0 0.5em 0 0;}
	/*btn_upload */
	.tab_1 .btn_download{display:inline-block; position:absolute; right:12px; top:4px; z-index:10; width:120px; height:32px;}

.tab_2{}
	.tab_2 #tags{display:block; *display:inline-block; height:19px; padding:0 10px; border-bottom:1px solid #ddd;}
	.tab_2 #tags:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.tab_2 #tags li{float:left; width:48px; height:19px; overflow:hidden; margin:0 5px 0 0; background:url(../images/tab_1.gif) no-repeat left -72px; font:normal 12px/19px Arial; *line-height:24px; text-align:center;}
	.tab_2 #tags li a{color:#666; text-decoration:none; cursor:pointer;}
	.tab_2 #tags li.selectTag{position:relative; height:21px; margin:0 5px -2px 0; background:url(../images/tab_1.gif) no-repeat left -99px; line-height:21px; *line-height:25px;}
	.tab_2 #tags li.selectTag a{color:#000;}
	.tab_2 .tagContent{display:none;}
	.tab_2 .selectTag{display:block;}
	.tab_2 #tagContent{padding:6px 10px; background:#fff;}
	.top_10{background:url(../images/top10_bg.gif) no-repeat left 6px;}
	.top_10 li{_width:166px; height:24px; overflow:hidden; padding:0 0 0 20px; font:normal 12px/24px Arial;  white-space: nowrap; text-overflow:ellipsis;}
	.top10_first{display:block; *display:inline-block; padding:10px 0;}
	.top10_first:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.top10_first dt{float:left; width:60px; margin:0 10px 0 0;}
	.top10_first dt img{width:58px; height:58px; border:solid 1px #ccc;}
	.top10_first dd{float:left; width:120px; line-height:20px;}
	.top10_first dd li a{display:inline-block;}
	.top_9{background:url(../images/top10_bg.gif) no-repeat left -18px;}
	.top_9 li{_width:166px; height:24px; overflow:hidden; padding:0 0 0 20px; font:normal 12px/24px Arial;  white-space: nowrap; text-overflow:ellipsis;}
	.top_9 li .num{float:right; color:#999;}

.page_nav{clear:both; padding:15px 0; color:#666; font:normal 12px/24px Arial; text-align:center;}
.page_nav a{display:inline-block; height:22px; margin:0 2px; padding:0 8px; border:solid 1px #dbe5ee; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; border-radius:2px; background:#fff; color:#333; font:normal 12px/22px Helvetica, Tahoma, Arial, sans-serif; cursor:pointer;}
	.page_nav strong{display:inline-block; height:24px; margin:0 3px; padding:0 8px; border:none; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; border-radius:2px; background:#07519a; color:#fff; font-weight:normal; line-height:24px; text-decoration:none;}
	.page_nav a:hover{height:24px; margin:0 3px; border:none; background:#07519a; color:#fff; line-height:24px; text-decoration:none;}
	.page_nav a.select{cursor:default;}

/* attention click keyboard one time */
.attention{margin:0 0 10px; padding:20px 0; border:solid 1px #ccc; font:normal 12px/20px Arial !important;}
.attention *{margin:0; padding:0; list-style:none; text-decoration:none;}
.attention ul{display:block; *display:inline-block; text-align:center;}
.attention ul:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.attention li{float:left; list-style:none !important; width:91px; padding:0 15px; text-align:left;}
.attention li a{color:#015fb6; text-decoration:none;}
.attention li li{float:none; width:auto; padding:0;}
.attention li li img{width:50px; height:50px; padding:2px; border:solid 1px #ccc;}
.attention li li.tc{text-align:center;}
.attention li input{margin:0 2px; *margin:0; vertical-align:middle;}
.attention li label{_font-family:Tahoma; vertical-align:middle;}
.attention p{clear:both; padding:10px 0 0; text-align:center;}

/* recommand */
.recommand{padding:1px; border:solid 1px #ccc;}
.recommand h2{height:32px; margin:0 0 5px 0; padding:0 10px; font:bold 14px/32px Helvetica, Tahoma, Arial, sans-serif; background:url(../images/tit_bg_1.gif) repeat-x top;}
.recommand h2 span{font:normal 12px/32px Helvetica, Tahoma, Arial, sans-serif;}
.recommand h2 span dfn{color:#ca0000; font-style:normal;}
.recommand .recom_list{margin:12px 12px 0; padding:0 0 10px 0; border-bottom:solid 1px #ccc;}
.recommand .recom_list dt{padding:4px 10px; background:#f9f9f9;}
.recommand .recom_list dt img{width:20px; height:20px; margin:0 5px 0 0; border:solid 1px #ccc;}
.recommand .recom_list dt .fr{color:#999;}
.recommand .recom_list dt .report{margin:0 0 0 2em; padding:0 0 0 16px; background:url(../images/sprites_ico_16.png) no-repeat 0 -447px;}
.recommand .recom_list dd{padding:0 10px 0 36px; font:normal 12px/28px Helvetica, Tahoma, Arial, sans-serif;}
.recommand .page_nav{margin:0 12px 0 0; text-align:right;}
.recommand .recom{}

.recommand .star_rank{display:inline-block; width:100px; height:16px; overflow:hidden; margin:0 0 -2px 6px; _margin:-2px 0 0 6px; _padding:8px 0; _vertical-align:middle;}
.recommand .star_rank dfn{display:inline-block; float:left; width:20px; height:16px; overflow:hidden; background:url(../images/star.gif) no-repeat; line-height:9999px; text-decoration:none;}
.recommand .star_rank .star_full{background-position:0 -24px;}
.recommand .star_rank .star_empty{background-position:0 0;}

.recommand .recom_sub{margin:20px;}
.recommand .recom_sub table{width:100%;}
.recommand .recom_sub table th,
.recommand .recom_sub table td{padding:2px 0; text-align:left;}
.recommand .recom_sub table th{}
.recommand .recom_sub table th .gray_1{font-weight:normal;}
.recommand .recom_sub table textarea{width:673px; height:80px; padding:5px; border:solid 1px #ccc; color:#555; font:normal 12px/20px Helvetica, Tahoma, Arial, sans-serif;}

.recommand .cant{margin:20px; padding:10px 10px 22px 80px; border:solid 1px #ccc; background:url(../images/ico_warning.png) no-repeat 12px 14px; _background:url(../images/ico_warning.gif) no-repeat 12px 14px;}
.recommand .cant dt{font-weight:bold;}

/* star rating */
.block{margin:10px; padding:10px; border:solid 1px #ccc; font-family:Verdana; font-size:12px;} /*CSS Star start*/
.star-rating{display:inline-block; position:relative; _float:left; top:2px; width:100px; height:16px; overflow:hidden; margin:0 0 0 5px; background:url(../images/star.gif) top left repeat-x;}
.star-rating li{float:left;}
.star-rating li a{display:block; *display:inline-block; position:absolute; z-index:20; width:20px; height:16px; _top:-8px; text-indent:-9000px;}
.star-rating li a:hover{background:url(../images/star.gif) left bottom; z-index:1; left: 0px;}
.star-rating a.one-star{left:0px;}
.star-rating a.one-star:hover{width:20px;}
.star-rating a.two-stars{left:20px;}
.star-rating a.two-stars:hover{width:40px;}
.star-rating a.three-stars{left:40px;}
.star-rating a.three-stars:hover{width:60px;}
.star-rating a.four-stars{left:60px;}
.star-rating a.four-stars:hover{width:80px;}
.star-rating a.five-stars{left:80px;}
.star-rating a.five-stars:hover{width:100px;} /*CSS Star end*/
.jsstar{width:100px; height:16px; position:relative;}
.jsstar li{float:left; width:20px; height:16px; background:url(../images/star.gif) 0 bottom no-repeat;}

.csdn-toolbar .favor .share {
	vertical-align: top !important;
}

#pub_footerall {
  width: 1170px;
}

.csdn-toolbar .container .pull-right li a {
  border: none;
}


.news-nav {
    background: #eaebec;
    MARGIN-BOTTOM: 10px;
    HEIGHT: 44px;
    CLEAR: both;
    OVERFLOW: visible;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: #4f4f4f;
    line-height: 20px;
}
#ad_0 {
  MARGIN-BOTTOM: 10px
}
.news-nav .container {
  MARGIN: 0px auto;width:1170px; FONT-FAMILY: "Microsoft YaHei";
  padding:0;
}
.nav-bar{
  font-size :16px;
  color:#fff;
  float:left;
}
.nav-bar a{
    padding: 0;
    display: inline-block;
    line-height: 44px;
    margin-right: 32px;
    color: #4f4f4f;
    text-decoration: none;
    font-family: "Microsoft YaHei";
}
.nav-bar .current, .nav-bar .active, .nav-bar a:hover {
    position: relative;
    border:none;
}
.nav-bar .current::after,
.nav-bar .active::after,
.nav-bar a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 0;
  right: 0;
  background-color: #c92027;
}


.search-download{
  float:right;
  margin-top:11px;
}
.search-download form{
  float:left;
  border: 1px solid #ddd;
}
.search-download input{
  /* border:solid 1px #ddd;
  border-right:none; */
  border:none;
  height: 26px;
  line-height:22px;
  padding:0 10px;
  margin-right:-5px;
  width: 229px;
}
.search-download .download-search-bth{
    background: url(http://csdnimg.cn/public/common/toolbar/images/f_icon.png) no-repeat 0 -189px;
    display: inline-block;
    border: none;
    width: 22px;
    height: 26px;
    vertical-align: middle;
    padding-right: 2px;
    background-color: #fff;
}
.search-download .help{
  float:left;
  margin:3px 0 0 20px;
    font-size: 15px;
    color: #4f4f4f;
    line-height: 20px;
}
.search-download .help .fa{
  margin-right:5px;
}

.nav-bar a{
	text-decoration:none;
}
.nav-bar a:hover{
    text-decoration:none;
    color: #4f4f4f;
}
