.footer{
	height:47px;
	background:url(../images/footer.png) repeat-x;}					 	
.footer	.foot{
	font-size:9pt;
	height:47px;
	line-height:47px;
	text-align:center;
	background:url(../images/foot.png) repeat-x;
	color:#597581}
.foot a{
	color:white}	
	