BODY {
	font: 100% "宋体"}
	
h1, h2 {
	font-family: 黑体, 宋体;
	font-weight: bold;	
	font-size: 110%; }

h3, h4 {
	font-family: 黑体, 宋体;
	font-weight: bold;	
	font-size: 135%; }
	
P  {
	font: 100% "宋体";
	color: black}

CODE {
	font: 100% "courier new"}

PRE {
	font: 100% "courier new"}
	
PRE CODE {
	font-size: 150% }

TD {
	font-size: 85%;
	color: black }

A:LINK {
	color: #0000FF }
	
A:VISITED {
	color: #660066 }
	
	
.label {
	font-weight: bold }
	
.tl {
	margin-bottom: 6pt }
	
.atl {
	margin-left: .25in;
	margin-bottom: -0pt }

.cfe {
	font-weight: bold }
	
.mini {
	font-size: 65% }
	
LI {
	color: #000000 }

LI UL {
	margin-top: 9pt;
	margin-bottom: 9pt }
	

LI OL {
	margin-top: 9pt;
	margin-bottom: 9pt }
	
.dt {
	margin-bottom: -9pt }
	
.indent {
	margin-left: .25in }

.EmpB {
	color: #008000;
	font-style: normal
	}

.Emp {
	color: #008000;
	font-style: normal }