h1           
{ 
color: green;
border: 1pt solid black;
}

p
{
color: red;
background-color:#EFE7D6;
border: 1pt solid black;
}

div
{
color: #FFFFFF;
background-color:#000000;
}

span
{
color: #000000;
background-color:#FFFFFF;
}
