body {
	font-size: 12px;
	line-height: 20px;
}
a:link {
	color: #7C7C7C;
	text-decoration: none;
}
a:active {
	color: #7C7C7C;
	text-decoration: none;
}
a:visited {
	color: #7C7C7C;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
