#dlMask {
  display: none;
  position: fixed;
  z-index: 1000;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.vip_popup {
  display: none;
  position: fixed;
  z-index: 20001;
  top: 300px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
}
.vip_popup .fa-close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.vip_popup .album_tips {
  text-align: center;
  padding: 20px 0 30px;
  font-size: 18px;
  color: #352b60;
}
.vip_popup .redFont {
  display: block;
  padding: 20px 0 0;
  font-size: 24px;
  color: #ae151e;
}
.vip_popup .vip_t {
  font-size: 18px;
  color: #352b60;
  text-align: center;
  line-height: 28px;
}
.vip_popup .vip_p {
  padding: 10px 0;
  font-size: 14px;
  color: #352b60;
  text-align: center;
}
.vip_popup .vip_list {
  padding: 10px 10px 10px 30px;
}
.vip_popup .vip_list li {
  padding-bottom: 20px;
}
.vip_popup .vip_list li label,
.vip_popup .vip_list li .inpt {
  display: inline-block;
  vertical-align: middle;
}
.vip_popup .vip_list li label {
  width: 50px;
}
.vip_popup .vip_list li .inpt {
  width: 330px;
  height: 30px;
  background: #f3f5f8;
  border: none;
  padding: 0 10px;
}
.vip_popup .vip_btn {
  display: none;
}
.vip_popup .vip_b,
.vip_popup .vip_btn {
  text-align: center;
}
.vip_popup .vip_b .vip_submit,
.vip_popup .vip_btn .vip_submit,
.vip_popup .vip_b .getBtn,
.vip_popup .vip_btn .getBtn {
  display: inline-block;
  width: 115px;
  height: 34px;
  background: #b81a25;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.vip_main_top {
  width: 100%;
  position: relative;
}
.vip_main_top .vip_img {
  width: 100%;
}
.vip_main_top .vip_href {
  display: inline-block;
  width: 220px;
  height: 90px;
  position: absolute;
  z-index: 2;
  top: 61.8%;
  left: 43%;
}
.lottery {
  float: left;
  margin-left: 42px;
  width: 700px;
  height: 700px;
}
.lottery .wheel {
  position: relative;
  width: 700px;
  height: 700px;
  background: url("http://download.csdn.net/static/static/images/wheel.gif") no-repeat;
  background-size: cover;
}
.lottery .wheel .awards {
  position: absolute;
  top: 48px;
  left: 50%;
  margin-left: -280px;
  width: 580px;
  height: 580px;
  background: url("http://download.csdn.net/static/static/images/vip_award.png") no-repeat;
}
.lottery .wheel .pointer {
  position: absolute;
  top: 242px;
  left: 50%;
  margin-left: -74px;
  width: 155px;
  height: 170px;
  background: url("http://download.csdn.net/static/static/images/pointer.png") no-repeat;
  background-size: cover;
}
.award_wrap {
  width: 370px;
  float: right;
}
.award_wrap .award_wrap_t {
  border: solid 1px #352b60;
  background: #22253b;
  padding: 20px 20px 15px;
  position: relative;
}
.award_wrap .award_wrap_t .login_p {
  font-size: 14px;
  color: #cdcfe6;
}
.award_wrap .award_wrap_t .login_b {
  padding: 10px 0;
}
.award_wrap .award_wrap_t .login_b .login_btn {
  display: inline-block;
  width: 180px;
  height: 42px;
  background: #b21721;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
}
.award_wrap .award_wrap_t .outLogin {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: #cdcfe6;
}
.award_wrap .award_wrap_t .user_wrap {
  padding: 20px 15px;
}
.award_wrap .award_wrap_t .user_wrap dt {
  float: left;
  width: 80px;
}
.award_wrap .award_wrap_t .user_wrap dt a img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.award_wrap .award_wrap_t .user_wrap dd {
  margin-left: 100px;
}
.award_wrap .award_wrap_t .user_wrap dd .user_name {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 30px;
  word-break: break-all;
}
.award_wrap .award_wrap_t .award_time {
  border-top: solid 1px #352b60;
  border-bottom: solid 1px #352b60;
  padding: 20px 0 10px;
}
.award_wrap .award_wrap_t .award_time .award_time_t {
  font-size: 14px;
  color: #cdcfe6;
}
.award_wrap .award_wrap_t .award_time .award_time_b {
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: '微软雅黑';
  line-height: 50px;
}
.award_wrap .award_wrap_t .award_log {
  padding: 20px 0 0;
}
.award_wrap .award_wrap_t .award_log .award_log_t {
  font-size: 14px;
  color: #cdcfe6;
}
.award_wrap .award_wrap_t .award_log .awrad_log_list li {
  line-height: 32px;
  font-size: 14px;
  color: #fff;
}
.award_wrap .award_wrap_t .award_log .awrad_log_list li span {
  color: #27cfff;
}
.award_wrap .award_wrap_t .award_log .awrad_log_list li a {
  color: #ff6771;
}
.award_wrap .award_list {
  border: dashed 1px #352b60;
  margin: 20px 0 0;
  padding: 20px;
  height: 210px;
  overflow: hidden;
}
.award_wrap .award_list .award_list_t {
  font-size: 16px;
  color: #cdcfe6;
}
.award_wrap .award_list #vip_scroll {
  overflow: hidden;
}
.award_wrap .award_list #vip_scroll .award_list_list li {
  line-height: 32px;
  font-size: 14px;
  color: #cdcfe6;
}
.award_wrap .award_list #vip_scroll .award_list_list li span {
  color: #fff;
  font-weight: bold;
}
.award_wrap .award_list #vip_scroll .award_list_list li em {
  color: #27cfff;
}
.award_b_wrap {
  position: relative;
  top: -50px;
  z-index: 0;
  background: url("http://download.csdn.net/static/static/images/award_b.png") no-repeat;
  width: 1130px;
  height: 100px;
}
.award_b_r {
  width: 400px;
  height: 100px;
}
.award_b_b {
  width: 1130px;
  background: #222641;
  margin-top: -50px;
  padding: 25px;
}
.award_b_b h3 {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  line-heigh: 30px;
}
.award_b_b .award_b_list {
  padding: 10px 0;
}
.award_b_b .award_b_list .award_b_p {
  line-height: 28px;
  font-size: 14px;
  color: #cdcfe6;
}
.award_b_b .award_b_list .award_b_p a {
  color: #ff6771;
}
ul,
li,
dl,
dt,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  background: #151728;
}
.vip_main {
  width: 1170px;
  padding: 0 20px;
  margin: 70px auto 50px;
}
.vip_main_award {
  position: relative;
  z-index: 2;
}
.csdn-toolbar .container {
  width: 1170px;
}
.pub_fo {
  background: #222641;
}
.pub_footer_new .foot_sub_menu a,
.pub_footer_new .foot_contact span,
.pub_footer_new .foot_copyright {
  color: #fff;
}
.pub_footer_new .foot_contact .qq,
.pub_footer_new .foot_contact .weibo,
.pub_footer_new .foot_contact .email,
.pub_footer_new .foot_contact .phone {
  color: #fff;
  background-position: left -60px;
}
.pub_footer_new .foot_contact .email {
  background-position: left -65px;
}
.pub_footer_new .foot_sub_menu {
  border-bottom-color: #4e5167;
}
.pub_fo {
  border-top-color: #4e5167;
}
