.create_album .create_album_list .choose_intro {
  vertical-align: middle;
}
.create_album .create_album_list .choose_intro em {
  text-align: center;
}
.create_album .upld_tips {
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}
.create_album .upld_tips dt {
  font-size: 14px;
  font-weight: 700;
}
.create_album .upld_tips .source_tips {
  padding: 5px 0 10px 30px;
}
.create_album .source_tips a {
  color: #07519a;
  cursor: pointer;
}
.create_album .red_tips {
  display: block;
  margin-left: 130px;
  padding-top: 10px;
  font-size: 14px;
  color: #e33f3f;
  line-height: 24px;
}
.form_error {
  display: block;
  margin-left: 80px;
  margin-top: 10px;
  background: url("../images/form_error.png") left 5px no-repeat;
  line-height: 27px;
  font-size: 14px;
  color: #666;
  font-weight: normal;
  padding-left: 20px;
  font-style: normal;
}
.upl_resources .create_album_list li label {
  width: 120px;
}
