@charset "UTF-8";
/* CSS Document */
body {background-repeat: repeat; font:12px/1.5 \5b8b\4f53,Arial,sans-serif; _font-family:Tahoma, Arial; background-color:#FFF}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.accordion-li{}
form{margin: 0}
.ptrn_a {background-image: url("../../img/bg_a.html")}
.ptrn_a .main_content {background-image: url(""); text-align:center;}
.power {position: relative; left:42px; width:100px; top:5px; bottom:5px; color:#999; font-size:85%;}
.tab-content{ padding:20px;}
.tab-tools-p{ margin-bottom:5px;}
.sidebar_container ul { margin:0; text-align:center; overflow:hidden; padding-left:2px; padding-top:6px;}
.thumb{margin: 4px;float: left;display: inline; text-align: center; padding:4px; background-color:#FFF; overflow: hidden; border:1px solid #EFEFEF;}
.main_null{ text-align:center; margin-top:30px; margin-bottom:10px;}
.tmp_content{ position:relative;margin-left:auto; margin-right:auto;}
.layout_m{width:1000px; margin-left: auto;margin-right: auto;}
.l_width{ float: left; margin-right:10px; width:100px;}
.layout_sub{ overflow:hidden; float: left;}

.table_m{ background-color:#FFF; margin-bottom:10px; height:100%;}

.table_head{ height:25px; line-height:25px; margin-bottom:5px; background-color:#FFF; position:relative}
.table_head img{ margin-top:-3px;}
.table_more{ position:absolute; top:0px; right:10px;}
.head_3{background:#FFF url(../imges/daily_tit_bg_10.html)no-repeat right center;}

i{ margin:3px;}
.content_m{ overflow:hidden; margin-bottom:10px; float:left; width:100%}
.clear{ clear:both}
.my_hidden{ display:none;}

/* Base */
.ih-60{ min-height:60px;}
.ih-0{min-height:0px;}
.mb-10{ margin-bottom:10px;}
.il{ float:left;}
.mr-10{ margin-right:10px;}
.mt-5{ margin-top:5px;}
.m-0{margin:0px;}
.p-0{ padding:0px;}
.Sred { color:#900;}
.Tc-18-1{float:left; color: #393939;font-size: 18px;}
.Tc-18-2{float:left; color: #088b23;font-size: 18px;}
.Tc-18-3{float:left; color: #b1b1b1;font-size: 18px;}
.Tc-18-4{float:left; color:#B31515; font-size: 18px;}
.Tc-18-5{float:left; color:#3999C7; font-size:18px;}
.Tc-14-1{float:left; color: #088b23;font-size: 14px;}

.list_s{ font-size:12px; height:22px; line-height:22px; width:100%; overflow:hidden}
.list_n{ font-size:14px; height:24px; line-height:24px; width:100%; overflow:hidden }
.list_b{ font-size:16px; height:26px; line-height:26px; width:100%; overflow:hidden }
.cate_s{ float:left; margin-right:10px;}
.cate_n{ float:left; margin-right:10px;}
.cate_b{ float:left; margin-right:10px;}
.title_s{ float:left; margin-right:10px;}
.title_n{ float:left; margin-right:10px;}
.title_b{ float:left; margin-right:10px;}
.nick_s{ float:right; margin-left:10px;}
.nick_n{ float:right; margin-left:10px;}
.nick_b{ float:right; margin-left:10px;}
.date_s{ float:right; margin-left:10px;}
.date_n{ float:right; margin-left:10px;}
.date_b{ float:right; margin-left:10px;}
.ti_1{padding-left: 10px; background: url(../images/topic_li_bg_58.jpg) no-repeat left center;}
.ti_2{padding-left: 10px; background: url(../images/nav_li_bg_17.jpg) no-repeat 0px center;}
.a_color_1 a{ color:#333333;}
.pt-1{ padding-top:1px;}
.line_0{ height:1px;background:url(../images/line_0.png) repeat-x;}
.line_1{ height:1px;background:url(../images/line_1.png) repeat-x;}

.content_list{ float:left;}	
.content_pic_r{ float: right; margin-left: 10px; position: relative;}
.content_pic_l{ float: left; margin-right: 10px; position: relative;}
.content_pic_title{ position: absolute; bottom: 0px; padding: 5px; opacity: 0.7; background: #000; width:auto; color:#FFF}

.rank_row {font-size:14px; height:30px; line-height:30px; width:100%; overflow:hidden}
.rank_row a{color:#000;}
.rank_base span{margin-right: 10px; width: 20px;display: inline-block;text-align: center;}
.rank_1_1 span{ color:#FFF; background:url(../images/rank-1-1.png) no-repeat center center}
.rank_1_2 span{ color:#FFF; background:url(../images/rank-1-1.png) no-repeat center center}
.rank_1_3 span{ color:#FFF; background:url(../images/rank-1-1.png) no-repeat center center}
.rank_1 span{ color:#FFF; background:url(../images/rank-1.png) no-repeat center center}
.clearfix{*zoom:1}
.clearfix:before, .clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}