@charset "UTF-8";
/* CSS Document */
body {background-repeat: repeat; _font-family:Tahoma, Arial; background-color:#FFF}
a:link,a:visited{text-decoration: none;}
a:hover{text-decoration:underline; color:#f00}
.accordion-li{}
form{margin: 0}
.ptrn_a {background-image: url("../../img/bg_a.html")}
.ptrn_a .main_content {background-image: url(""); text-align:center;}
.power {position: relative; left:42px; width:100px; top:5px; bottom:5px; color:#999; font-size:85%;}
.tab-content{ padding:20px;}
.tab-tools-p{ margin-bottom:5px;}
.sidebar_container ul { margin:0; text-align:center; overflow:hidden; padding-left:2px; padding-top:6px;}
.thumb{margin: 4px;float: left;display: inline; text-align: center; padding:4px; background-color:#FFF; overflow: hidden; border:1px solid #EFEFEF;}
.main_null{ text-align:center; margin-top:30px; margin-bottom:10px;}
.tmp_content{ position:relative;margin-left:auto; margin-right:auto;}
.modal-body-load{text-align: center;background-color:rgba(0,0,0,0.2); position: absolute; width: 100%; height: 100%; z-index:999}
.my_layout_c{width:1000px; padding:10px; border:1px transparent solid; margin-left:-11px;margin-left: auto;margin-right: auto;}
.layout_ct{padding: 5px 0;width: 20px; text-align:center; background-color: #666;visibility: hidden;float: right; margin-right: -30px; margin-top:-11px;cursor:pointer; z-index:890}
.layout_m{width:1000px; margin-left: auto;margin-right: auto;}
.l_width{ float: left; margin-right:10px; width:100px;}
.layout_sub{overflow:hidden; float: left;}
.layout_sub:hover{background-color:#FCFCFC;}
.layout_in{background-color:rgba(0, 0, 0, 0)}
.layout_in:hover{background-color:rgba(0, 0, 0, 0)}
.my_table_c{ width:100%; background-color:#FFF;position: relative;}
.my_table_c:hover .table_ct{ visibility:visible; margin-right:0;}
.table_m{ background-color:#FFF; margin-bottom:10px; height:100%;}
.table_ct{ right:0px; height: 18px; padding-top: 2px; text-align: center; background-color: #999999; visibility:hidden;cursor:pointer; position:absolute; z-index:889}
.ui-state-t-hover{background-color:#CBFFAF;}
.ui-state-t-active{background-color:#FCFCFC;}
.ui-state-active{background-color:#CBFFAF;}
.ui-state-hover{background-color:#FCFCFC;}
.ui-state-highlight{border: 1px solid #fcefa1; background: #fbf9ee; height:20px; margin-bottom:10px; width:100%;}
.ui-state-highlight-layout{border: 2px dashed #ccc; background: #FFF; height:40px; margin-bottom:10px; width:1020px;}

.table_head{ height:25px; line-height:25px; margin-bottom:5px; background-color:#FFF; position:relative}
.table_head img{ margin-top:-3px;}
.table_more{ position:absolute; top:0px; right:10px;}
.head_3{background:#FFF url(../imges/daily_tit_bg_10.html)no-repeat right center;}

i{ margin:3px;}
.my_content_c{position: relative; float:left}
.content_bg{ width:100%; background-image:url(../images/rect_hoverBg.png); background-repeat:repeat; z-index:887; position:absolute; float:left; visibility:hidden;}
.my_content_c:hover .content_ct, .my_content_c:hover .content_bg{ visibility:visible}
.content_ct{ float: left; height: 18px; padding-top: 2px; width: 80px; text-align: center; background-color: #C90; visibility:hidden;cursor:pointer; position: absolute; z-index:888}
.content_m{ overflow:hidden; margin-bottom:10px; float:left; width:100%;}
.clear{ clear:both}
.my_hidden{ display:none;}

/* Base */
.ih-60{ min-height:60px;}
.ih-0{min-height:0px;}
.mb-10{ margin-bottom:10px;}
.il{ float:left;}
.mr-10{ margin-right:10px;}
.mt-5{ margin-top:5px;}
.m-0{margin:0px;}
.p-0{ padding:0px;}
.Sred { color:#900;}
.Tc-18-1{float:left; color: #393939;font-size: 18px; font-weight:bold;font-family:"微软雅黑";}
.Tc-18-2{float:left; color: #088b23;font-size: 18px; font-weight:bold;font-family:"微软雅黑";}
.Tc-18-3{float:left; color: #b1b1b1;font-size: 18px; font-weight:bold;font-family:"微软雅黑";}
.Tc-18-4{float:left; color:#B31515; font-size: 18px; font-weight:bold;font-family:"微软雅黑";}
.Tc-18-5{float:left; color:#3999C7; font-size:18px; font-weight:bold;font-family:"微软雅黑";}
.Tc-14-1{float:left; color: #088b23;font-size: 14px; font-weight:bold;font-family:"微软雅黑";}
.Tc-16-1{float:left; color: #000000;font-size: 16px; font-weight:bold; font-family:"微软雅黑";}
.Tc-16-2{float:left; color: #ffffff;font-size: 16px; font-weight:bold; font-family:"微软雅黑";}
.Tc-24-1{float:left; color: #000000;font-size: 24px; font-weight:bold; font-family:"微软雅黑";}

.love-more{float:right; color:#666; font-size:14px; font-weight:bold; font-family:"微软雅黑"; padding-right:10px}


.list_s{ font-size:12px; height:22px; line-height:22px; width:100%; overflow:hidden}
.list_s_love{ font-size:12px; height:24px; line-height:24px; width:100%; overflow:hidden}
.list_s_luan{ font-size:12px; height:26px; line-height:26px; width:100%; overflow:hidden}
.list_n{ font-size:14px; height:24px; line-height:24px; width:100%; overflow:hidden }

.adv_s{ font-size:12px; height:20px; line-height:20px; width:100%; overflow:hidden}

.list_b{ font-size:16px; height:26px; line-height:26px; width:100%; overflow:hidden }
.cate_s{ float:left; margin-right:10px;}
.cate_n{ float:left; margin-right:10px;}
.cate_b{ float:left; margin-right:10px;}
.title_s{ float:left; margin-right:10px;}
.title_n{ float:left; margin-right:10px;}
.title_b{ float:left; margin-right:10px;}
.nick_s{ float:right; margin-left:10px; width:65px}
.nick_n{ float:right; margin-left:10px; width:60px}
.nick_b{ float:right; margin-left:10px; width:68px}
.date_s{ float:right; margin-left:10px;}
.date_n{ float:right; margin-left:10px;}
.date_b{ float:right; margin-left:10px;}
.ti_1{ background: url(../images/topic_li_bg_58.jpg) no-repeat left center;}
.ti_2{padding-left: 10px; background: url(../images/nav_li_bg_17.jpg) no-repeat 0px center;}
.a_color_1 a{ color:#333333;}
.a_color_1 a:hover,.a_color_2 a:hover{text-decoration:underline;color:#f00}
.a_color_2 a{ color:#666666;}
.specil_font{font-family:"微软雅黑"; font-size:14px;}
.pt-1{ padding-top:1px;}
.line_0{ height:1px;background:url(../images/line_0.png) repeat-x;}
.line_1{ height:1px;background:url(../images/line_1.png) repeat-x;}
.content_list{ float:left;}	
.content_pic_r{ float: right; margin-left: 10px; position: relative;}
.content_pic_l{ float: left; margin-right: 10px; position: relative;}
.content_pic_title{ position: absolute; bottom:5px; padding: 5px; opacity: 0.7; background: #000; width:140px; color:#FFF; text-align:left; line-height:18px;; font-size:12px;left:0px; filter:alpha(opacity:70); height:36px}

.rank_row {font-size:14px; height:30px; line-height:30px; width:100%; overflow:hidden; font-family:"微软雅黑";}
.rank_row a{color:#000;}
.rank_row a:hover{color:#f00}
.rank_base span{margin-right: 10px; width: 20px;display: inline-block;text-align: center;}
.rank_1_1 span{ color:#FFF; background:url(../images/rank-1-1.png) no-repeat center center}
.rank_1_2 span{ color:#FFF; background:url(../images/rank-1-1.png) no-repeat center center}
.rank_1_3 span{ color:#FFF; background:url(../images/rank-1-1.png) no-repeat center center}
.rank_1 span{ color:#FFF; background:url(../images/rank-1.png) no-repeat center center}
.clearfix{*zoom:1}
.clearfix:before, .clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
.new_ul{font-size:12px; color:#06F; margin-left:5px}
.new_ul li{ list-style:disc;}


