@charset "UTF-8";
/* CSS Document */

#readimg #readimg_ul{ display:none;}
#readimg #readimg_list div{ float:left; margin-left:17px; margin-bottom:5px;}
#readimg #readimg_list img{ padding:3px; border:#999 1px solid;}
.readimg-t-1 p{ line-height:35px; font-size:14px; text-align:center}
#readimg #readimg_list div.readimg-t-1{margin:0}
.readimg-t-2 p{ line-height:20px; font-size:12px; margin-top:6px; text-align:center}
#readimg a:link,#readimg a:visited{color:#333;}
#readimg a:hover{color:#f00}