/*nav 氓录鈧ヂр�*/

/* 猫驴鈥澝モ�啪茅隆露茅茠篓 莽禄鈥溍β澟�*/
/*nav 莽禄鈥溍β澟�/
/*氓沤禄茅鈩⒙っ┞凰溍っβ犅访ヂ悸�氓录鈧ヂр�*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
input,
select,
option {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
}
table,
tbody,
tr,
td,
th {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
  border: none;
}
ul,
li,
ol {
  list-style: none;
}
img {
  border: none;
  outline: none;
}
em,
i {
  font-style: normal;
}
/*氓沤禄茅鈩⒙っ┞凰溍っβ犅访ヂ悸�莽禄鈥溍β澟�/
/*氓鈥βモ�卤忙聽路氓录聫 氓录鈧ヂр�*/
body {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #333;
  background: #EEEEEE;
  line-height: 24px;
}
a {
  outline: none;
  text-decoration: none;
  color: #666;
}
a:hover {
  text-decoration: none;
}
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '.';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  zoom: 1;
}
.software_intro {
  width: 1170px;
  margin: 0 auto;
}
.software_intro .bor_bac {
  border: solid 1px #e3e3e3;
  background: #fff;
  margin-bottom: 10px;
}
.main {
  margin: 10px auto 12px;
  width: 1170px;
}
.main .left-side {
  float: left;
  width: 208px;
  border: solid 1px #e3e3e3;
  background: #fff;
  margin-bottom: 10px;
}
.main .right-side {
  border: solid 1px #e3e3e3;
  background: #fff;
  margin-bottom: 10px;
  margin-bottom: 0;
}
.quotation {
  width: 1170px;
  margin: 10px auto 0;
  overflow: hidden;
}
.quotation .left {
  width: 860px;
}
.quotation .right {
  width: 296px;
}

.ajGet .loading {
  text-align: center;
}
/*氓鈥βモ�卤忙聽路氓录聫 莽禄鈥溍β澟�/
.csdn-toolbar .logo .img {
  background-image: url("../images/mall_logo.png");
  background-position: 132px center;
}
/*猫驴鈥澝モ�啪茅隆露茅茠篓*/
.topcontrol {
  position: fixed;
  bottom: 80px;
  right: 50px;
  opacity: 1;
  cursor: pointer;
}
.back_top {
  width: 60px;
  height: 28px;
  padding-left: 30px;
  background: #707070 url("../images/back_icon.png") no-repeat 9px center;
  line-height: 28px;
  color: #fff;
}
.back_top:hover {
  background: #ee5e53 url("/images/back_icon.png") no-repeat 9px center;
}
